.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding-top: 106px;
}
@media (max-width: 991px) {
  .intro {
    padding-top: 97px;
  }
}
@media (max-width: 768px) {
  .intro {
    padding-top: 122px;
  }
}

.intro__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.intro__background .intro-back {
  width: 100%;
  height: 90%;
  transition: transform 0.03s ease;
  position: relative;
  z-index: 1;
}
@media (max-width: 1440px) {
  .intro__background .intro-back {
    object-fit: cover;
    object-position: center bottom;
  }
}
.intro__background .intro-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 950px;
}
@media (max-width: 991px) {
  .hero {
    min-height: 828px;
  }
}
@media (max-width: 768px) {
  .hero {
    min-height: 650px;
  }
}
@media (max-width: 565px) {
  .hero {
    min-height: 500px;
  }
}

.hero__content {
  margin-top: 125px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .hero__content {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  .hero__content {
    margin-top: 65px;
  }
}

.hero__letters {
  max-width: 105%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero__title-wrapper {
  position: relative;
}

.hero__title {
  white-space: nowrap;
  position: relative;
  z-index: 2;
  font-family: "KronaOne", sans-serif;
  font-weight: 400;
  font-size: 65.5px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 991px) {
  .hero__title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 34px;
  }
}

.hero__subtitle {
  position: relative;
  z-index: 3;
  margin-top: 33px;
  max-width: 584px;
  text-align: center;
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
  font-size: 14.7615px;
  line-height: 1.5;
  text-transform: capitalize;
  text-shadow: 5px 5px 15px #060835;
}
@media (max-width: 768px) {
  .hero__subtitle {
    margin-top: 17px;
    font-size: 13.3px;
    line-height: 0.9;
    width: 77.7%;
  }
}

.hero__ai {
  padding-top: 50px;
  margin-top: auto;
  width: 100%;
  position: relative;
  z-index: 2;
}
.hero__rocks {
  width: 100%;
  max-height: 918px;
  z-index: 1;
}
.hero__rabbits {
  max-width: 1440px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 50px;
  max-height: 693px;
  transform: translateX(-50%);
  z-index: 2;
}
.hero__rabbits img {
  width: 100%;
}
@media (max-width: 768px) {
  .hero__rabbits {
    bottom: 10px;
  }
}
@media (max-width: 565px) {
  .hero__rabbits {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .hero__rabbits img {
    min-width: 665px;
  }
}

.hero__path {
  position: relative;
  margin-top: -93px;
  width: 100%;
  max-height: 93px;
  z-index: 3;
  height: 93px;
}
@media (max-width: 768px) {
  .hero__path {
    height: 25px;
    margin-top: -25px;
  }
}
